.video-container {
    width: 100%;
    height: auto;
    position: relative;
}

.aspect-ratio-16-9 {
    padding-top: 56.25%;
}

.aspect-ratio-1-1 {
    padding-top: 100%;
}

.aspect-ratio-3-2{
    aspect-ratio: 2 / 3;
}

.aspect-ratio-8-5{
    aspect-ratio: 5 / 8;
}

.aspect-ratio-4-5{
    aspect-ratio: 5 / 4;
}

.aspect-ratio-9-16{
    aspect-ratio: 16 / 9;
}

.aspect-ratio-4-7{
    aspect-ratio: 7 / 4;
}

.aspect-ratio-056-1{
    aspect-ratio: 1 / 0.56;
}

.aspect-ratio-08-1{
    aspect-ratio: 1 / 0.8;
}

.aspect-ratio-057-1{
    aspect-ratio: 1 / 0.57;
}

.aspect-ratio-07-1{
    aspect-ratio: 1 / 0.7;
}

.video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.companion-banner {
    width: 300px;
    height: auto;
}


.main {
    min-height: 89vh;
}

.drag-n-drop-area {
    padding: 3em;
    position: relative;
    transition: all .2s;
}

.drag-n-drop-area:hover,
.drag-n-drop-area.dragging,
.drag-n-drop-area.uploading {
    opacity: 1;
}

.drag-n-drop-area.uploading {
    border: dashed 1px #34495e;
    border-radius: 1rem;
}

.drag-n-drop {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.sidebar {
    min-height: 87vh;
}

@media screen and (max-width: 576px) {
    .sidebar {
        min-height: auto;
    }

    .dropdown {
        width: 60%;
        right: 0;
    }
}
