/*<!--*/
/*# Name: Banner CSS*/
/*# Banner Creator: Diva World Wide*/
/*# Website: www.divaww.com*/
/*-->*/


body,
html{
    width: 336px;
    height: 280px;
}

body{
    margin: 0;
}

img{
    position: absolute;
    left:0;
    top:0;
    width: 336px;
    height: 280px;
    display: none;
}


#banner{
    position: relative;
    width: 336px;
    height: 280px;
    overflow: hidden;
    border: 1px solid #00aeab;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
}

#cta
{   
    position: absolute;
    top:0;
    left: 0;
    width: 336px;
    height: 280px;
    background-image: url('../assets/cta.png');
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: 0.4s background;
    transition: 0.4s background;
    opacity: 0;
}


#banner:hover #cta_text{
  -webkit-transform: scale(1.07);
  transform: scale(1.07);
    -webkit-transition: 0.4s ;
    transition: 0.4s ;
} 
#cta_text{
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 241px 251px;
    transform-origin: 241px 251px;
    -webkit-transition: 0.4s ;
    transition: 0.4s ;
}

#s1{
    -webkit-transform-origin: 295px 85px;
    transform-origin: 295px 85px;
}
#s2{
    -webkit-transform-origin: 288px 86px;
    transform-origin: 288px 86px;
}

#guy{
    opacity: 0;
    top: 40px;
    -webkit-transform: scale(0.50);
    transform: scale(0.50);
}